@import "../../scss/base/colors";
@import "../../scss/base/typography";

.label {
  @include font-regular;
  color: $grey;
  font-size: 12px;
  text-transform: uppercase;

  .label-divider {
    padding: 0 5px;
  }

  &.label-content--large {
    font-size: 22px;
    text-transform: capitalize;
  }
}
