@import "../../scss/base/typography";

.card-wrapper {
  display: flex;
  flex-direction: column;

  .card-metadata-container {
    flex: 1 0 auto;

    .card-metadata-image {
      height: 228px;
    }
  }
}
